.help-block {
    color: #F64E60;
    font-size: 0.9rem;
    font-weight: 400;
}

.has-error input {
    border-color: #F64E60;
}
.has-success input {
    border-color: #1BC5BD;
}

div.required label.control-label:after {
    content: " *";
    color: red;
}

.signup-container .content-container,
.signup-success-container .content-container {
    max-width: 500px;
    width: auto;
    margin: 0 auto;
}

.pointer {
    cursor: pointer;
}

.wishlist-span {
    position: absolute;
    left: 25px;
    top: 5px;
    z-index: 1;
    font-size: 1.5em;
}
.table th a {
    color: #fff;
}

.line-through {
    text-decoration: line-through;
}


#review-form .rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

#review-form .rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

#review-form .rating label:last-child {
  position: static;
}

#review-form .rating label:nth-child(1) {
  z-index: 5;
}

#review-form .rating label:nth-child(2) {
  z-index: 4;
}

#review-form .rating label:nth-child(3) {
  z-index: 3;
}

#review-form .rating label:nth-child(4) {
  z-index: 2;
}

#review-form .rating label:nth-child(5) {
  z-index: 1;
}

#review-form .rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

#review-form .rating label .icon {
  float: left;
  color: transparent;
  font-size: 0.7em;
}

#review-form .rating label:last-child .icon {
  color: #000;
}

#review-form .rating:not(:hover) label input:checked ~ .icon,
#review-form .rating:hover label:hover input ~ .icon {
  color: #ffd333;
}

#review-form .rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #ffd333;
}

.breadcrumb {
  margin-bottom: 0;
}

.order-total-products {
  overflow: auto;
    max-height: 20em;
}

.badge {
      border-radius: 5px;
}

.order-total-products::-webkit-scrollbar  {
    width: 4px;
    background-color: #FFFFFF; 
}

.order-total-products::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #E4E6EF; 
}


.chatbot-photo {
  width: 40px;
  border-radius: 50px;
}

.cm-msg-text-placeholder {
    background: white;
    padding: 10px 15px 10px 15px;
    color: #666;
    max-width: 75%;
    float: right;
    right: 10px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 30px;
}

.chat-msg.self > .timeSent {
  font-weight: 500;
  font-size: smaller;
  text-align: right;
  margin-right: 10px;
}

.chat-msg.user > .timeSent {
  font-weight: 500;
  font-size: smaller;
  text-align: left;
  margin-left: 10px;
}