.help-block {
    color: #F64E60;
    font-size: 0.9rem;
    font-weight: 400;
}

.has-error input {
    border-color: #F64E60;
}
.has-success input {
    border-color: #1BC5BD;
}

div.required label.control-label:after {
    content: " *";
    color: red;
}

.signup-container .content-container,
.signup-success-container .content-container {
    max-width: 500px;
    width: auto;
    margin: 0 auto;
}

.pointer {
    cursor: pointer;
}

.wishlist-span {
    position: relative;
    left: 10px;
    top: 5px;
}
.table th a {
    color: #fff;
}
