.detail-view{margin-top: 0;}
    .app-iconbox {
        box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px 0
    }
    
    .dataTables_filter {
        text-align: right;
    }
    .dataTables_filter label,
    .dataTables_length label {
        display: inline-flex;
    }

    .dataTables_filter input {
        margin-top: -5px;
        margin-left: 5px;
    }
    .dataTables_length select{
        margin-top: -5px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .dataTables_paginate {
        float: right;
    }
    .th-file {
        width: 80% !important;
    }